body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container{
    max-width: 800px;
    margin: 0 auto;
    color: #B34141;
    font-family: sans-serlf;
    padding-left: 20px;
    padding-right: 17px;
 }